.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.not-found-content-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.not-found-image {
  width: 300px;
  margin-bottom: 20px;
}

.not-found-heading {
  font-family: 'Roboto';
  font-size: 22px;
  color: white;
  font-weight: 500;
}

.not-found-description {
  font-family: 'Roboto';
  font-size: 16px;
  color: white;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .not-found-heading {
    font-size: 32px;
  }
  .not-found-description {
    font-size: 22px;
  }
  .not-found-image {
    width: 500px;      
  }
}
